<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youreye.bussro">
    <!-- 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BUSSRO"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".feature.search.SearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.settings.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.clause.ClauseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.onboarding.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.history.HistoryActivity"
            android:label="@string/empty_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.sign.SignActivity"
            android:label="전광판 화면입니다. 버스기사에게 보여주세요."
            android:screenOrientation="landscape" />
        <activity
            android:name=".feature.busstop.BusStopActivity"
            android:label="@string/empty_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:label="@string/settings_activity_label"
            android:screenOrientation="portrait"
            android:theme="@style/PreferenceScreen" />
        <activity
            android:name=".feature.findstation.FindStationActivity"
            android:label="@string/empty_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.buslist.BusListActivity"
            android:label="@string/empty_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.main.MainActivity"
            android:label="@string/empty_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.launch.LaunchScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>